input, textarea{
    padding: $padding;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border:none;
    border-bottom: 1px solid gray;
    background-color: $inputColor;
    margin: 5px;
}

.textInput{
    display: flex;
    align-items: center;
    textarea{
        flex:auto;
        border:none;
        padding: 10px;
        height: 4rem;
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #eeeeee;
        span{
            position: relative;
            left: 3px;
        }
    }
}