.shareMessage{
    position: fixed;
    right: 10px;
    top: 65px;
    background: tomato;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px #00000073;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    p, span{
        color: white;
    }
    p:nth-child(1){
        margin-bottom: 6px;
       
    }
}