.bottomNav {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  
  &__btn {
    flex: 1;
    padding: $padding;
    color: $notSelected;
    cursor: pointer;
    user-select: none;
    &--selected {
      color: $selected;
      font-weight: 700;
    }
    &--add{
      background-color: cadetblue;
      border-radius: $border-radius;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
