.optionsBar{
    &__bars{
        display: flex;
        justify-content: space-between;
        align-items: end;

        &__bar{
            height: 100px;
            width: 100px;
            background-color: teal;
            color: white;
            transition: all 300ms;
        }
    }
    &__btns{
        display: flex;
        justify-content: space-between;
        &__btn{
            transition: all 200ms;
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(229, 229, 229);
            cursor: pointer;
            user-select: none;

            &--select{
                background-color: rgb(168, 168, 168);
            }
        }
    }
}