.optionsBar {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0px;
    // gap: 10px;
    flex: auto;
    overflow-x: auto;
    // overflow-y: auto;
    border: 1px dashed gray;
    box-sizing: border-box;
  }

  &__col {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    transition: all 300ms;
    box-sizing: border-box;
    flex: none;
  }

  &__info {
    border: 2px solid black;
    border-radius: 40px;
    height: 20px;
    width: 20px;
    align-self: center;
    justify-self: center;
  }

  &__bar {
    width: 100%;

    background: rgb(144, 140, 254);
    background: linear-gradient(
      90deg,
      rgba(144, 140, 254, 1) 0%,
      rgba(49, 41, 252, 1) 48%,
      rgba(173, 157, 255, 1) 100%
    );
    border-radius: 10px 10px 0px 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    align-self: flex-end;
    justify-self: center;
  }

  &__btn {
    transition: all 200ms;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    cursor: pointer;
    user-select: none;
    margin: 3px;

    &--select {
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.502);
    }
  }
}
