.chatMessages {
    display: flex;
    flex-direction: column;
    gap:15px;
  .chatMessage {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    &__name{
       text-align: left;
       padding: 5px;
    }
    &__text{
        text-align: left;
        font-weight: 600;
    }
    &__time{
        text-align: right;
    }
  }
}
