.postCard{
    padding: $padding;
    background-color: white;
    box-shadow: 1px 1px 3px #0000001c;
    border-radius: $border-radius;
    margin: 3px 3px 7px 3px;
&__text{
    text-align: left;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: calc($border-radius/2);
}

    &__time{
        font-size: .6rem;
    }
}