.board {
  flex: auto;
  display: flex;
  flex-direction: column;
  contain: size;

  &__posts {
    flex: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
  }
  .select {
    &--support {
      background-color: #a4ffa4;
    }
    &--oppose {
      background-color: #ffbfbf;
    }
  }

  &__support {
    display: flex;
    justify-content: center;
    select {
      margin: 5px;
    }
  }

  form {
    box-shadow: 0px 0px 3px #0000002e;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    background-color: $background;
  }
  &__input {
    display: flex;

    textarea {
      flex: auto;
    }
    button {
      border: none;
    }
  }
}
