.council {
  min-height: 100vh;

  article {
    max-height: 100px;
    overflow-y: auto;
    padding: $padding;
    text-align: left;
  }

  &__panels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(1, 1fr);
    }
      
    &__board{
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: auto;
      padding: 0px 10px;
    }
  }

  .councilMenu {
    display: flex;
    width: 100%;
    // background-color: #f3eeff;
    border-radius: 0px 0px 2px 2px;

    a,
    &__btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      color: rgb(77, 77, 77);
      text-decoration: none;
      transition: all 200ms;

      &--selected {
        font-weight: 700;
        background-color: rgb(244, 244, 244);
      }
    }
    &__text {
      display: flex;
      align-items: center;
      &__text {
        padding: 2px;
      }
      &__icon {
        padding: 2px;
        opacity: 0.6;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
