.councilMenu{
    display: flex;
    width: 100%;
    background-color: tomato;
    border-radius: 20px;
   

    a, &__btn{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: all 200ms;

        &--selected{
            background-color: red;
            
            border-radius: 20px;
        }
    }
}